html,
body {
  height: 100svh;
  background-color: #fafafa;
  font-family: 'Mulish', sans-serif;
  line-height: 1.4;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8064a2 !important;
}

footer {
  background-color: #646464;
}

footer .nav-item {
  color: #c7c7c7 !important;
}

footer .copy-right {
  color: #c7c7c7 !important;
}
